In [15]:
import pandas as pd
import numpy as np
import datetime

# Nombre de CADs
num_cads = 15

# Nombre de lignes par CAD
lines_per_cad = 20

# Créer un dataframe vide
data = []

dimensions = [160,180, 200, 220]

# Remplir le dataframe
for i in range(num_cads):
    cad = f"001479_{101+i}"
    dimension = np.random.choice(dimensions)
    dimensions.remove(dimension)  # Retirer la dimension choisie de la liste pour éviter les répétitions
    if not dimensions:
        dimensions = [160,180, 200, 220]  # Réinitialiser la liste si toutes les dimensions ont été utilisées
    
    for _ in range(lines_per_cad):
        
        if dimension == 180:
            dlt = int(np.random.normal(25, 5))
        elif dimension == 200:
            dlt = int(np.random.normal(20, 5))
        else:
            dlt = int(np.random.normal(30, 10))
        
        start_date = datetime.date(2023, 1, 1)
        end_date = datetime.date(2023, 6, 30)
        delta = end_date - start_date
        random_days = np.random.randint(delta.days)
        date = start_date + datetime.timedelta(days=random_days)
        
        data.append([cad, dimension, date, dlt])

df = pd.DataFrame(data, columns=["CAD", "Dimension", "Date", "DLT"])

In [16]:
df.head(20)

           CAD  Dimension        Date  DLT
0   001479_101        160  2023-02-03   25
1   001479_101        160  2023-03-15   31
2   001479_101        160  2023-01-08   31
3   001479_101        160  2023-02-14   30
4   001479_101        160  2023-04-16   31
5   001479_101        160  2023-02-21   28
6   001479_101        160  2023-01-07   43
7   001479_101        160  2023-05-03   36
8   001479_101        160  2023-03-03   28
9   001479_101        160  2023-05-09   31
10  001479_101        160  2023-01-16   26
11  001479_101        160  2023-01-22   37
12  001479_101        160  2023-05-04   27
13  001479_101        160  2023-04-23   30
14  001479_101        160  2023-06-06   31
15  001479_101        160  2023-01-28   20
16  001479_101        160  2023-06-28   37
17  001479_101        160  2023-02-01   32
18  001479_101        160  2023-03-28   30
19  001479_101        160  2023-04-13   28

In [17]:
df.to_pickle("data_fictive_dlt.pkl")